@model Bangazon.Models.ProductViewModels.ProductDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Title</h2>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>
    </dl>
</div>

<form asp-action="AddProductToCart" asp-route-id="@Model.ProductId">
    <input class="btn btn-primary" type="submit" value="Add To Order" />
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
