@model Bangazon.Models.ProductViewModels.ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to Bangazon.com!</h1>
<hr />
<hr />
<h3>View our most recently added products!</h3>
<p>Click the name of a product to view details.</p>
<table class="table table-striped table-bordered table-inverse">
    <thead class="table-inverse">
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                City
            </th>
            <th>
                Picture (if available)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var topProduct in @Model.TopProduct)
        {
            <tr>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@topProduct.ProductId">@Html.DisplayFor(modelItem => topProduct.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => topProduct.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => topProduct.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => topProduct.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => topProduct.Image)
                </td>
            </tr>
        }

    </tbody>
</table>
   