@model Bangazon.Models.OrderViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Cart Contents";
}

<h2>Cart Contents</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>

                <td>
                    <form asp-action="RemoveItemFromCart" asp-route-productId="@item.ProductId" asp-route-orderId="@Model.OrderId">
                        <input class="btn btn-danger" type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Order Total</td>
            <td></td>
            <td>@Model.ShoppingCartTotal</td>
        </tr>
    </tfoot>
</table>
<div class="btn-toolbar">
    <form asp-action="AddPaymentType" asp-controller="Order" asp-route-id="@Model.OrderId">
        <input class="btn btn-success" type="submit" value="Complete Order" />
    </form>
    <form asp-action="Delete" asp-route-id="@Model.OrderId">
        <input class="btn btn-primary" type="submit" value="Cancel Order" />
    </form>
</div>

